html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    padding: 0;
    width: 75%;
    margin: 0 auto;
    text-align: left;
    background-color: #FFF;
    
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 250%;
    color: #45B29D;
    text-shadow: 2px 2px 2px #DF4949;
    text-transform: uppercase;
}

p, ul, li {
    padding: 0;
    margin: 0;
    text-wrap: break-word;
}

a:link {
    text-decoration: none;
    color: #EFC94C;
    -webkit-transition: color 0.7s, text-shadow 0.7s;
    transition: color 0.7s, , text-shadow 0.7s;
}

a:visited {
    text-decoration: none;
    color: #EFC94C;
}

a:hover {
    text-decoration: underline;
    color: #E27A3F;
    text-shadow: 2px 2px 2px #EFC94C;
}

a:active {
    text-decoration: underline;
    color: #E27A3F;
}

/***
    color bar
***/

.colorBar {
    height: 5px;
    margin: 0 -1000%;
    background-color: #DF4949;
    margin-bottom: 5%;
}

/***
    navigation bar
***/

nav {
       
}

nav ul li.home {
    font-size: 170%;
    font-family: "Source Code Pro", monospace;
    color: #45B29D;
    text-shadow: 2px 2px 2px #DF4949;
    text-transform: uppercase;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
       
}

/***
    article
***/

article {
    margin-top: 30px;   
}

article header p {
    margin-bottom: 15px;
    font-size: 65%;
    color: #45B29D;
}

article p {
    margin-left: 40px;
}

article canvas {
    border: 5px solid #DF4949;
    margin: 20px 40px;
}

footer {
    margin-top: 30px;
    font-size: 60%;   
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
    body {
        width: 100%;
    }
}
