<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title> {% if page.title %} {{ page.title }} | {% endif %}</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
</head>
<body>

	<div id="mai">

		<header>
			<h1>Dominik Lingnau </h1>
		</header>

		<nav role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
			</ul>
		</nav>

		{{ content }}

		<footer>
			<p>dominik.lingnau@gmail.com; Dominik Lingnau | All Rights Reserved.</p>
		</footer>

	</div>
</body>
</html>
